.primary_btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: cornflowerblue;
    color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border:none;
    cursor: pointer;
}

.primary_btn:hover {
    box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.27);
    
}
.primary_btn:active{
    background-color:#fff;
    color:cornflowerblue;
}

.secondary_btn {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #111;
    color: #fff;
    border-radius: 5px;
    transition: 0.4s;
    border:none;
    cursor: pointer;
}

.secondary_btn:hover {
    box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 7px 4px 5px 0px rgba(0, 0, 0, 0.27);
    
}
.secondary_btn:active{
    background-color:cornflowerblue;
    color:#fff;
}